<mat-sidenav-container class="root-container mat-app-background">
  <mat-sidenav [mode]="get_nav_mode()" [(opened)]="nav_open">
    <div>
      <mat-nav-list style="height: 100%; width: 200px;">
        <a mat-list-item routerLink="">Home</a>
        <a mat-list-item routerLink="about">About</a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="content-container">
    <mat-toolbar class="toolbar" color="primary">
      <div class="toolbar-nav">
        <button mat-icon-button (click)="nav_open = !nav_open">
          <mat-icon>
            menu
          </mat-icon>
        </button>
      </div>
      <div class="toolbar-title">
        <span>Aadam Zocolo</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="rank">Student</span>
      </div>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>